<app-navigation-bar></app-navigation-bar>

<div class="container_background">
    <div class="heading_section">
        <h1 class="title">
            My Journey
            <span class="description"></span>
        </h1>
    </div>

    <div class="about_content">

        <div fxLayout="row wrap" fxLayoutGap="50px grid">

          <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%" class="red">
            <div class="paragraph_section">
                <p class="paragraph_description">{{bio1}}</p>
                <p class="paragraph_description">{{bio2}}</p>   
                <p class="paragraph_description">{{bio3}}</p>   
            </div>    
          </div>

          <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
            <img src="../../assets/images/prof_dp.jpeg" class="bio_pic">
        </div>

        </div>

        <br>
    </div>


</div>
