<mat-toolbar [ngStyle]="{'background': navBGColor, 'color': navTextColor}">
    <div  class="nav_bar">
        <span *ngFor="let link of links" class="">{{ link }}</span>
    </div>
    <span class="example-spacer"></span>
    <div class="icon_spacer">
        <a href="https://www.linkedin.com/in/aishwaryabaalajirao/" target="blank">
             <button mat-icon-button class="linkedin_icon"></button>
        </a>
        <a href="https://github.com/AishwaryaBaalajiRao" target="blank">
            <button mat-icon-button class="github_icon"></button>
       </a>
    </div>
  </mat-toolbar>