<app-navigation-bar></app-navigation-bar>

<div class="container_background">

    <div class="heading_section">
      <div style="margin-right: 6rem;">
        <h1 class="title">
          Data Visualization Using Python 
          <span class="description">{{description}}</span>
      </h1>
      </div>
      <div class="techUsed">
        <h2>Technology Used:</h2>
        <div>
          <img [src]="logo" *ngFor="let logo of logos" class="techLogo">
        </div>
      </div>
    </div>

    <div class="pic_grid content">

      <section>
        <ks-carousel [id]="102" [images]="imagesRect" [config]="LIBCONFIG102">
        </ks-carousel>
      </section>

        </div>

        <div class="paragraph_section">
          <h1 class="paragraph_title">
              My Role
          </h1>
            <p class="paragraph_description">{{role1}}</p>
            <p class="paragraph_description">{{role2}}</p>
          
      </div>

    <div class="paragraph_section">
      <h1 class="paragraph_title">
          Metrics
      </h1>
      <div class="paragraph_description">
        <p *ngFor="let metric of metrics" style="display: flex;">
          <mat-icon matListIcon class="bullet_icon">fiber_manual_record</mat-icon>
            {{ metric }}
        </p>
      </div>
  </div>

  <div class="paragraph_section">
    <h1 class="paragraph_title">
        Key Takeaways
    </h1>
    <div class="paragraph_description">
      <p *ngFor="let takeaway of takeaways" style="display: flex;">
        <mat-icon matListIcon class="bullet_icon">fiber_manual_record</mat-icon>
          {{ takeaway }}
      </p>
      </div>
</div>

</div>
