.container_background {
    position: relative;
    z-index: 1000;
    padding: 75px 0 6em;
}

@media (min-width: 768px) {
.container_background {
    padding: 75px 0 95px;
}
}

@media (min-width: 1452px) {
.heading_section {
    max-width: 1330px;
}
}

@media (min-width: 768px) {
.heading_section {
    padding: 14em 0;
}
}

.heading_section {
    max-width: 90%;
    margin: 0 auto;
    padding: 9em 7em 9em 7em;
    transition: all .2s ease-in-out;
}

.title {
    opacity: 1;
    transform: translateY(0px);
    font-size: 50px;
    line-height: 120%;
    color: black;
    font-family: Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif !important;
    font-weight: 500;
    text-align: center;
}

@media (min-width: 768px) {
.title {
    font-size: 70px;
}
}

.description {
    display: block;
    font-size: 18px;
    line-height: 32px;
    // margin-top: 4rem;
    margin: 4em auto 0em auto;
    max-width: 40%;
    text-align: justify;
    color: black;
    letter-spacing: normal;
}

.pdf_container {
    height: 900px;
    width: 60%;
    margin: auto;
}