<app-navigation-bar></app-navigation-bar>

<div fxLayout="column" class="container_background">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" >

        <div fxFlex="60">
            <div class="heading_container">
                <h1 data-aos="zoom-in" data-aos-duration="3000" class="heading_title">Hi! I'm 
                    <span class="sub_title">Aishwarya Baalaji Rao</span>
                    <span class="sub_title" style="font-size: 0.6em;">- MS Management & Data Science</span>
                </h1>
                <p class="sub_heading" data-aos="zoom-in" data-aos-duration="3000" >I am a creative, data-driven tech enthusiast; also adept in Project Management!</p>
                <button mat-stroked-button color="primary" class="button" (click)="scroll(target)" data-aos="zoom-in" data-aos-duration="2000">Click here to view my projects 
                    <mat-icon class="material-icons-outlined arrow_forward">
                        arrow_forward
                    </mat-icon>
                    <mat-icon class="material-icons-outlined arrow_downward">
                        arrow_downward
                    </mat-icon>
                </button>
            </div>
        </div>

        <div fxFlex="40" fxLayoutAlign="center">
            <div class="robot">
                <div class="antenna"></div>
                <div class="outerbody">
                <div class="face">
                    <div class="eyes">
                        <div class="eye" (document:mousemove)="onMouseMove($event)" id="eye"></div>
                        <div class="eye" (document:mousemove)="onMouseMove($event)" id="eye"></div>
                    </div>
                </div>
                <div class="left_hand"></div>
                <div class="right_hand"></div>
            </div>
            <div class="shadow"></div>
        </div>
        </div>

    </div>


<div #target style="margin-top: 2rem;"></div>


<div class="landing_section">
    <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Technology Projects">

        <div class="project_title">
            Technology Projects
        </div>

        <div class="t_tiles">

            <div class="tech_description">
                {{tech_description}}
            </div>

            <div data-aos="fade-right" data-aos-duration="2000" class="t_tile tile1" (click)="getMLWorks()">
                <img class="tile_logo" src="../../assets/icons/pyviz.png">
            </div>

            <div data-aos="fade-right" data-aos-duration="2000" class="t_tile tile2" (click)="getFoodRecog()">
                <img class="matlab_logo" src="../../assets/icons/Matlab Logo.webp">
            </div>
    
            <div data-aos="fade-right" data-aos-duration="2000" class="t_tile tile3" (click)="getChickFilA()">
                <img class="tableau_logo" src="../../assets/icons/tableau logo.png">
            </div>
        </div>
    </mat-tab>


    <mat-tab label="Management Case Studies">
        <div class="project_title">
            Management Case Studies
        </div>

        <div class="t_tiles">
            <div class="tech_description marginBottom">
                {{mgmt_description}}
            </div>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="0px grid" fxLayoutAlign="center center" >
            <div fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let tile of [1,2]" style="max-height: 200px;">
                <div class="t_tile mtile1" (click)="getCaseStudies('ryanair')" *ngIf="tile == 1">
                    <img class="mlogo l1" src="../../assets/icons/Ryanair Logo.png">
                </div>
                <div class="t_tile mtile2" (click)="getCaseStudies('primark')" *ngIf="tile == 2">
                    <img class="mlogo l2" src="../../assets/icons/Primark Logo.png">
                </div>
            </div>
            <div fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let tile of [1,2]">
                <div class="t_tile mtile3" (click)="getCaseStudies('lv')" *ngIf="tile == 1">
                    <img class="mlogo l2" src="../../assets/icons/LV.png">
                </div>
                <div class="t_tile mtile4" (click)="getCaseStudies('newell')" *ngIf="tile == 2">
                    <img class="mlogo l2" src="../../assets/icons/Newell.png">
                </div>
            </div>
            <div fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let tile of [1,2]">
                <div class="t_tile mtile5" (click)="getCaseStudies('anglo')" *ngIf="tile == 1">
                    <img class="mlogo l1" src="../../assets/icons/anglo-american-logo.png">
                </div>
                <div class="t_tile mtile6" (click)="getCaseStudies('amazoncn')" *ngIf="tile == 2">
                    <img class="mlogo l2" src="../../assets/icons/amazonCN.png">
                </div>
            </div>
          </div>

    </mat-tab>
    </mat-tab-group>
</div>

<br><br><br>

</div>